[submodule "linux-sgx"]
	path = linux-sgx
	url = https://github.com/adombeck/linux-sgx
[submodule "graphene"]
	path = graphene
	url = https://github.com/adombeck/graphene
[submodule "linux-sgx-driver"]
	path = linux-sgx-driver
	url = https://github.com/adombeck/linux-sgx-driver
	branch = master
